
.options {
    min-height: 30vh;
    border-bottom: solid;
    border-bottom-color: lightblue;
    border-width: thin;

}

.menu {
    text-align: center;
    background-color: lightseagreen;
    border-radius: 20px;
}

.content {
    margin: 8px;
    min-height: 30vh;
    border: solid;
    border-color: lightblue;
    border-width: thin;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 10px;
}

.secondaryDisplay {
    min-height: 20vh;
    border: solid;
    border-color: lightblue;
    border-radius: 10px;
    border-width: thin;
    margin-bottom: 12px;
}

.display-image {
    width: 100%;
    border-radius: 10px;
    max-height: 50vh;
}

.social-media-image {
    width: 100%;
    border-radius: 10px;

}

#secondary-display-area {
    margin: 8px;

}

#sd2, #sd3 {
    min-height: 35vh;
    background-color: #f2f2f2;
}

li {
    list-style-type: none;
}

i {
    margin-right: 6px;
}

.text-aligned {
    text-align: right;
}

.parallax3 {
    /* The image used */
    background-image: url("highquality/blackhole.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("highquality/milkyway.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url("highquality/delicate-arch-night-stars-landscape.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-content-white {
    height: 30vh;
    background-color: white;
}

.scroll-content-none {
    height: 30vh;
}