
.options {
    min-height: 30vh;
    border-bottom: solid;
    border-bottom-color: lightblue;
    border-width: thin;

}

.menu {
    text-align: center;
    background-color: lightseagreen;
    border-radius: 20px;
}

.content {
    margin: 8px;
    min-height: 30vh;
    border: solid;
    border-color: lightblue;
    border-width: thin;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 10px;
}

.secondaryDisplay {
    min-height: 20vh;
    border: solid;
    border-color: lightblue;
    border-radius: 10px;
    border-width: thin;
    margin-bottom: 12px;
}

.display-image {
    width: 100%;
    border-radius: 10px;
}

#secondary-display-area {
    margin: 8px;

}

#sd2, #sd3 {
    min-height: 35vh;
    background-color: #f2f2f2;
}
